<?xml version="1.0" encoding="UTF-8"?>
<Config
        Path="Config:Report Delegate">
	<MenuTitle
                Path="Config:Report Delegate:Basic settings"
                Normal = ":/config/Measure_Menu/Range_Menu/range.png"
                Changed = ":/setting/Image/setting/change.png"
                Hint = ":/config/Measure_Menu/Range_Menu/range_h.png"
                Extend = ":/setting/Image/setting/title.png"
                Clicked = "none"
                Include =":/config/Image/config/Report_Menu/config-basic.xml"/>
	<MenuTitle
                Path="Config:Report Delegate:Report channel settings"
                Normal = ":/config/Measure_Menu/Alarm_Menu/alarm.png"
                Changed = ":/setting/Image/setting/change.png"
                Hint = ":/config/Measure_Menu/Alarm_Menu/alarm_h.png"
                Extend = ":/setting/Image/setting/title.png"
                Clicked = "none"
                Include =":/config/Image/config/Report_Menu/config-channel.xml"/>
</Config>
