<?xml version="1.0" encoding="UTF-8"?>
<Config
        Path="Config:Math Delegate:Calculation expression">
        <MenuNormal
                Path="Config:Math Delegate:First-CH"
                Normal = ":/config/AI_Menu/Channel_Normal/ch_normal.png"
                Changed = ":/setting/Image/setting/change-blue.png"
                Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                Clicked = "slotMathMenuClicked()"
                Include ="none"/>
        <MenuNormal
                Path="Config:Math Delegate:Last-CH"
                Normal = ":/config/AI_Menu/Channel_Normal/ch_normal.png"
                Changed = ":/setting/Image/setting/change-blue.png"
                Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                Clicked = "slotMathMenuClicked()"
                Include ="none"/>

        <MenuGroup
                Path="Config:Math Delegate:Calculation expression:Math range"
                Normal = "none"
                Changed = "none"
                Hint = "none"
                Extend = "none">
                <MenuNormal
                        Path="Config:Math Delegate:Calculation expression:Math range:On/Off"
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotSwitchClicked()"
                        Include ="none"/>
                <MenuNormal
                        Path="Config:Math Delegate:Calculation expression:Math range:Calculation expression"
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotCalculationKeypadClicked()"
                        Include ="none"/>
                <MenuNormal
                        Path="Config:Math Delegate:Calculation expression:Math range:Decimal place"
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotAIRangeScalePosMenuClicked()"
                        Include ="none"/>
                <MenuNormal
                        Path="Config:Math Delegate:Calculation expression:Math range:Span Lower"
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotNumericKeypadClicked()"
                        Include ="none"/>
                <MenuNormal
                        Path="Config:Math Delegate:Calculation expression:Math range:Span Upper"
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotNumericKeypadClicked()"
                        Include ="none"/>
                <MenuNormal
                        Path="Config:Math Delegate:Calculation expression:Math range:Unit"
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotSoftKeypadClicked()"
                        Include ="none"/>
        </MenuGroup>

        <MenuGroup
                Path="Config:Math Delegate:Calculation expression:TLOG"
                Normal = "none"
                Changed = "none"
                Hint = "none"
                Extend = "none">
                <MenuNormal
                        Path="Config:Math Delegate:Calculation expression:TLOG:Timer Type"
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotMathExpTLOGTypeMenuClicked()"
                        Include ="none"/>
                <MenuNormal
                        Path="Config:Math Delegate:Calculation expression:TLOG:Timer No."
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotMathExpTLOGNoMenuClicked()"
                        Include ="none"/>
                <MenuNormal
                        Path="Config:Math Delegate:Calculation expression:TLOG:Sum scale"
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotMathExpTLOGSumMenuClicked()"
                        Include ="none"/>
                <MenuNormal
                        Path="Config:Math Delegate:Calculation expression:TLOG:Reset"
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotSwitchClicked()"
                        Include ="none"/>
        </MenuGroup>

        <MenuGroup
                Path="Config:Math Delegate:Calculation expression:Rolling average"
                Normal = "none"
                Changed = "none"
                Hint = "none"
                Extend = "none">
                <MenuNormal
                        Path="Config:Math Delegate:Calculation expression:Rolling average:On/Off"
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotSwitchClicked()"
                        Include ="none"/>
                <MenuNormal
                        Path="Config:Math Delegate:Calculation expression:Rolling average:Interval"
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotMathExpRollInterMenuClicked()"
                        Include ="none"/>
                <MenuNormal
                        Path="Config:Math Delegate:Calculation expression:Rolling average:Number of samples"
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotNumericKeypadClicked()"
                        Include ="none"/>
        </MenuGroup>

</Config>
