<?xml version="1.0" encoding="UTF-8"?>
<Config
        Path="Config:Communication channel Delegate:Alarm">
	<MenuNormal
                Path="Config:Communication channel Delegate:First-CH"
		Normal = ":/config/AI_Menu/Channel_Normal/ch_normal.png"
                Changed = ":/setting/Image/setting/change-blue.png"
		Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
		Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                Clicked = "slotCommMenuClicked()"
                Include ="none"/>
	<MenuNormal
                Path="Config:Communication channel Delegate:Last-CH"
		Normal = ":/config/AI_Menu/Channel_Normal/ch_normal.png"
                Changed = ":/setting/Image/setting/change-blue.png"
		Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
		Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                Clicked = "slotCommMenuClicked()"
                Include ="none"/>
	
	<MenuGroup
                Path="Config:Communication channel Delegate:Alarm:Level1"
		Normal = "none"
		Changed = "none"
		Hint = "none"
		Extend = "none">
		<MenuNormal
                        Path="Config:Communication channel Delegate:Alarm:Level1:On/Off"
			Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
			Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
			Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotSwitchClicked()"
                        Include ="none"/>
		<MenuNormal
                        Path="Config:Communication channel Delegate:Alarm:Level1:Type"
			Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
			Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
			Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotCommChannelAlarmTypeClicked()"
                        Include ="none"/>
		<MenuNormal
                        Path="Config:Communication channel Delegate:Alarm:Level1:Value"
			Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
			Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
			Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotNumericKeypadClicked()"
                        Include ="none"/>
		<MenuNormal
                        Path="Config:Communication channel Delegate:Alarm:Level1:Hysteresis"
			Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
			Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
			Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotNumericKeypadClicked()"
                        Include ="none"/>
		<MenuNormal
                        Path="Config:Communication channel Delegate:Alarm:Level1:Logging"
			Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
			Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
			Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotSwitchClicked()"
                        Include ="none"/>
		<MenuNormal
                        Path="Config:Communication channel Delegate:Alarm:Level1:Output type"
			Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
			Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
			Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotAIAlarmLvl1OutTypeMenuClicked()"
                        Include ="none"/>
                <MenuNormal
                        Path="Config:Communication channel Delegate:Alarm:Level1:Output No."
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotNumericKeypadClicked()"
                        Include ="none"/>
	</MenuGroup>

        <MenuGroup
                Path="Config:Communication channel Delegate:Alarm:Level2"
                Normal = "none"
                Changed = "none"
                Hint = "none"
                Extend = "none">
                <MenuNormal
                        Path="Config:Communication channel Delegate:Alarm:Level2:On/Off"
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotSwitchClicked()"
                        Include ="none"/>
                <MenuNormal
                        Path="Config:Communication channel Delegate:Alarm:Level2:Type"
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotCommChannelAlarmTypeClicked()"
                        Include ="none"/>
                <MenuNormal
                        Path="Config:Communication channel Delegate:Alarm:Level2:Value"
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotNumericKeypadClicked()"
                        Include ="none"/>
                <MenuNormal
                        Path="Config:Communication channel Delegate:Alarm:Level2:Hysteresis"
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotNumericKeypadClicked()"
                        Include ="none"/>
                <MenuNormal
                        Path="Config:Communication channel Delegate:Alarm:Level2:Logging"
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotSwitchClicked()"
                        Include ="none"/>
                <MenuNormal
                        Path="Config:Communication channel Delegate:Alarm:Level2:Output type"
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotAIAlarmLvl1OutTypeMenuClicked()"
                        Include ="none"/>
                <MenuNormal
                        Path="Config:Communication channel Delegate:Alarm:Level2:Output No."
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotNumericKeypadClicked()"
                        Include ="none"/>
        </MenuGroup>

        <MenuGroup
                Path="Config:Communication channel Delegate:Alarm:Level3"
                Normal = "none"
                Changed = "none"
                Hint = "none"
                Extend = "none">
                <MenuNormal
                        Path="Config:Communication channel Delegate:Alarm:Level3:On/Off"
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotSwitchClicked()"
                        Include ="none"/>
                <MenuNormal
                        Path="Config:Communication channel Delegate:Alarm:Level3:Type"
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotCommChannelAlarmTypeClicked()"
                        Include ="none"/>
                <MenuNormal
                        Path="Config:Communication channel Delegate:Alarm:Level3:Value"
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotNumericKeypadClicked()"
                        Include ="none"/>
                <MenuNormal
                        Path="Config:Communication channel Delegate:Alarm:Level3:Hysteresis"
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotNumericKeypadClicked()"
                        Include ="none"/>
                <MenuNormal
                        Path="Config:Communication channel Delegate:Alarm:Level3:Logging"
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotSwitchClicked()"
                        Include ="none"/>
                <MenuNormal
                        Path="Config:Communication channel Delegate:Alarm:Level3:Output type"
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotAIAlarmLvl1OutTypeMenuClicked()"
                        Include ="none"/>
                <MenuNormal
                        Path="Config:Communication channel Delegate:Alarm:Level3:Output No."
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotNumericKeypadClicked()"
                        Include ="none"/>
        </MenuGroup>

        <MenuGroup
                Path="Config:Communication channel Delegate:Alarm:Level4"
                Normal = "none"
                Changed = "none"
                Hint = "none"
                Extend = "none">
                <MenuNormal
                        Path="Config:Communication channel Delegate:Alarm:Level4:On/Off"
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotSwitchClicked()"
                        Include ="none"/>
                <MenuNormal
                        Path="Config:Communication channel Delegate:Alarm:Level4:Type"
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotCommChannelAlarmTypeClicked()"
                        Include ="none"/>
                <MenuNormal
                        Path="Config:Communication channel Delegate:Alarm:Level4:Value"
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotNumericKeypadClicked()"
                        Include ="none"/>
                <MenuNormal
                        Path="Config:Communication channel Delegate:Alarm:Level4:Hysteresis"
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotNumericKeypadClicked()"
                        Include ="none"/>
                <MenuNormal
                        Path="Config:Communication channel Delegate:Alarm:Level4:Logging"
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotSwitchClicked()"
                        Include ="none"/>
                <MenuNormal
                        Path="Config:Communication channel Delegate:Alarm:Level4:Output type"
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotAIAlarmLvl1OutTypeMenuClicked()"
                        Include ="none"/>
                <MenuNormal
                        Path="Config:Communication channel Delegate:Alarm:Level4:Output No."
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotNumericKeypadClicked()"
                        Include ="none"/>
        </MenuGroup>

        <MenuGroup
                Path="Config:Communication channel Delegate:Alarm:Alarm delay"
                Normal = "none"
                Changed = "none"
                Hint = "none"
                Extend = "none">
                <MenuNormal
                        Path="Config:Communication channel Delegate:Alarm:Alarm delay:Hour"
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotEMailTimeHourCLicked()"
                        Include ="none"/>
                <MenuNormal
                        Path="Config:Communication channel Delegate:Alarm:Alarm delay:Minute"
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotEMailTimeMinuteCLicked()"
                        Include ="none"/>
                <MenuNormal
                        Path="Config:Communication channel Delegate:Alarm:Alarm delay:Second"
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotEMailTimeMinuteCLicked()"
                        Include ="none"/>
        </MenuGroup>


</Config>
