<?xml version="1.0" encoding="UTF-8"?>
<Config
        Path="Config:Communication (Ethernet) Delegate:E-mail settings">
	<MenuGroup
                Path="Config:Communication (Ethernet) Delegate:E-mail settings:Mail header"
		Type = "group"
		Normal = "none"
		Changed = "none"
		Hint = "none"
		Extend = "none">
                <MenuNormal
                        Path="Config:Communication (Ethernet) Delegate:E-mail settings:Mail header:Recipient 1"
                        Type = "normal"
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotEnglishInputClicked()"
                        Include ="none"/>
                <MenuNormal
                        Path="Config:Communication (Ethernet) Delegate:E-mail settings:Mail header:Recipient 2"
                        Type = "normal"
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotEnglishInputClicked()"
                        Include ="none"/>
                <MenuNormal
                        Path="Config:Communication (Ethernet) Delegate:E-mail settings:Mail header:Sender"
                        Type = "normal"
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotEnglishInputClicked()"
                        Include ="none"/>
                <MenuNormal
                        Path="Config:Communication (Ethernet) Delegate:E-mail settings:Mail header:Subject"
                        Type = "normal"
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotEnglishInputClicked()"
                        Include ="none"/>
	</MenuGroup>

        <MenuGroup
                Path="Config:Communication (Ethernet) Delegate:E-mail settings:E-mail contents"
                Type = "group"
                Normal = "none"
                Changed = "none"
                Hint = "none"
                Extend = "none">
                <MenuNormal
                        Path="Config:Communication (Ethernet) Delegate:E-mail settings:E-mail contents:Header"
                        Type = "normal"
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotSoftKeypadClicked()"
                        Include ="none"/>
                <MenuNormal
                        Path="Config:Communication (Ethernet) Delegate:E-mail settings:E-mail contents:Include source URL"
                        Type = "normal"
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotSwitchClicked()"
                        Include ="none"/>
        </MenuGroup>

        <MenuGroup
                Path="Config:Communication (Ethernet) Delegate:E-mail settings:Alarm settings"
                Type = "group"
                Normal = "none"
                Changed = "none"
                Hint = "none"
                Extend = "none">
                <MenuNormal
                        Path="Config:Communication (Ethernet) Delegate:E-mail settings:Alarm settings:Alarm notification"
                        Type = "normal"
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotEMailAlarmNotificationCLicked()"
                        Include ="none"/>
                <MenuNormal
                        Path="Config:Communication (Ethernet) Delegate:E-mail settings:Alarm settings:Channel set"
                        Type = "normal"
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotChannelSelectClicked()"
                        Include ="none"/>
                <MenuNormal
                        Path="Config:Communication (Ethernet) Delegate:E-mail settings:Alarm settings:Attach instantaneous data"
                        Type = "normal"
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotSwitchClicked()"
                        Include ="none"/>
                <MenuNormal
                        Path="Config:Communication (Ethernet) Delegate:E-mail settings:Alarm settings:Include tag/ch in Subject"
                        Type = "normal"
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotSwitchClicked()"
                        Include ="none"/>
        </MenuGroup>

        <MenuGroup
                Path="Config:Communication (Ethernet) Delegate:E-mail settings:Report settings"
                Type = "group"
                Normal = "none"
                Changed = "none"
                Hint = "none"
                Extend = "none">
                <MenuNormal
                        Path="Config:Communication (Ethernet) Delegate:E-mail settings:Report settings:Report notification"
                        Type = "normal"
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotEMailAlarmNotificationCLicked()"
                        Include ="none"/>
        </MenuGroup>

        <MenuGroup
                Path="Config:Communication (Ethernet) Delegate:E-mail settings:Scheduled settings"
                Type = "group"
                Normal = "none"
                Changed = "none"
                Hint = "none"
                Extend = "none">
                <MenuNormal
                        Path="Config:Communication (Ethernet) Delegate:E-mail settings:Scheduled settings:Scheduled notification"
                        Type = "normal"
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotSwitchClicked()"
                        Include ="none"/>
                <MenuNormal
                        Path="Config:Communication (Ethernet) Delegate:E-mail settings:Scheduled settings:Attach instantaneous data"
                        Type = "normal"
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotSwitchClicked()"
                        Include ="none"/>
                <MenuNormal
                        Path="Config:Communication (Ethernet) Delegate:E-mail settings:Scheduled settings:Interal (Recipient 1)"
                        Type = "normal"
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotEMailInteralCLicked()"
                        Include ="none"/>
                <MenuNormal
                        Path="Config:Communication (Ethernet) Delegate:E-mail settings:Scheduled settings:Ref. time hour (Recipient 1)"
                        Type = "normal"
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotNumericKeypadClicked()"
                        Include ="none"/>
                <MenuNormal
                        Path="Config:Communication (Ethernet) Delegate:E-mail settings:Scheduled settings:Ref. time minute(Recipient 1)"
                        Type = "normal"
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotNumericKeypadClicked()"
                        Include ="none"/>
                <MenuNormal
                        Path="Config:Communication (Ethernet) Delegate:E-mail settings:Scheduled settings:Interal (Recipient 2)"
                        Type = "normal"
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotEMailInteralCLicked()"
                        Include ="none"/>
                <MenuNormal
                        Path="Config:Communication (Ethernet) Delegate:E-mail settings:Scheduled settings:Ref. time hour (Recipient 2)"
                        Type = "normal"
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotNumericKeypadClicked()"
                        Include ="none"/>
                <MenuNormal
                        Path="Config:Communication (Ethernet) Delegate:E-mail settings:Scheduled settings:Ref. time minute(Recipient 2)"
                        Type = "normal"
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotNumericKeypadClicked()"
                        Include ="none"/>
        </MenuGroup>

        <MenuGroup
                Path="Config:Communication (Ethernet) Delegate:E-mail settings:System settings"
                Type = "group"
                Normal = "none"
                Changed = "none"
                Hint = "none"
                Extend = "none">
                <MenuNormal
                        Path="Config:Communication (Ethernet) Delegate:E-mail settings:System settings:Memory full notification"
                        Type = "normal"
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotEMailAlarmNotificationCLicked()"
                        Include ="none"/>
                <MenuNormal
                        Path="Config:Communication (Ethernet) Delegate:E-mail settings:System settings:Power failure notification"
                        Type = "normal"
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotEMailAlarmNotificationCLicked()"
                        Include ="none"/>
                <MenuNormal
                        Path="Config:Communication (Ethernet) Delegate:E-mail settings:System settings:System error notification"
                        Type = "normal"
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotEMailAlarmNotificationCLicked()"
                        Include ="none"/>
                <MenuNormal
                        Path="Config:Communication (Ethernet) Delegate:E-mail settings:System settings:User lock notification"
                        Type = "normal"
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotEMailAlarmNotificationCLicked()"
                        Include ="none"/>
        </MenuGroup>


</Config>
