<?xml version="1.0" encoding="UTF-8"?>
<Config
        Path="Config:Display Delegate:Screen display settings">
        <MenuGroup
                Path="Config:Display Delegate:Screen display settings:Bar graph"
                Normal = "none"
                Changed = "none"
                Hint = "none"
                Extend = "none">
                <MenuNormal
                        Path="Config:Display Delegate:Screen display settings:Bar graph:Direction"
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotDispTrendTrendDirectionMenuClicked()"
                        Include ="none"/>
        </MenuGroup>

        <MenuGroup
                Path="Config:Display Delegate:Screen display settings:LCD"
                Normal = "none"
                Changed = "none"
                Hint = "none"
                Extend = "none">
                <MenuNormal
                        Path="Config:Display Delegate:Screen display settings:LCD:Brightness"
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotDispScreenLCDValueMenuClicked()"
                        Include ="none"/>
        </MenuGroup>

        <MenuGroup
                Path="Config:Display Delegate:Screen display settings:Backlight saver"
                Normal = "none"
                Changed = "none"
                Hint = "none"
                Extend = "none">
                <MenuNormal
                        Path="Config:Display Delegate:Screen display settings:Backlight saver:Mode"
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotDispScreenLightModeMenuClicked()"
                        Include ="none"/>
                <MenuNormal
                        Path="Config:Display Delegate:Screen display settings:Backlight saver:Saver time"
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotDispScreenLightTimeMenuClicked()"
                        Include ="none"/>
                <MenuNormal
                        Path="Config:Display Delegate:Screen display settings:Backlight saver:Restore"
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotDispScreenLightRestoreMenuClicked()"
                        Include ="none"/>
        </MenuGroup>

        <MenuGroup
                Path="Config:Display Delegate:Screen display settings:Monitor"
                Normal = "none"
                Changed = "none"
                Hint = "none"
                Extend = "none">
                <MenuNormal
                        Path="Config:Display Delegate:Screen display settings:Monitor:Display background"
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotDispScreenMonitorBackMenuClicked()"
                        Include ="none"/>
                <MenuNormal
                        Path="Config:Display Delegate:Screen display settings:Monitor:Scroll time"
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotDispScreenMonitorScrollMenuClicked()"
                        Include ="none"/>
                <MenuNormal
                        Path="Config:Display Delegate:Screen display settings:Monitor:Jump default display"
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotDispScreenMonitorJumpMenuClicked()"
                        Include ="none"/>
        </MenuGroup>

        <MenuGroup
                Path="Config:Display Delegate:Screen display settings:Calendar display"
                Normal = "none"
                Changed = "none"
                Hint = "none"
                Extend = "none">
                <MenuNormal
                        Path="Config:Display Delegate:Screen display settings:Calendar display:1st weekday"
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotDispScreenCalendar1stMenuClicked()"
                        Include ="none"/>
        </MenuGroup>

        <MenuGroup
                Path="Config:Display Delegate:Screen display settings:Changing each value from monitoring"
                Normal = "none"
                Changed = "none"
                Hint = "none"
                Extend = "none">
                <MenuNormal
                        Path="Config:Display Delegate:Screen display settings:Changing each value from monitoring:On/Off"
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotSwitchClicked()"
                        Include ="none"/>
        </MenuGroup>

</Config>
