<?xml version="1.0" encoding="UTF-8"?>
<Config
        Path="Config:DO Delegate:Range">
        <MenuNormal
                Path="Config:DO Delegate:First-CH"
                Normal = ":/config/AI_Menu/Channel_Normal/ch_normal.png"
                Changed = ":/setting/Image/setting/change-blue.png"
                Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                Clicked = "slotDOMenuClicked()"
                Include ="none"/>
        <MenuNormal
                Path="Config:DO Delegate:Last-CH"
                Normal = ":/config/AI_Menu/Channel_Normal/ch_normal.png"
                Changed = ":/setting/Image/setting/change-blue.png"
                Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                Clicked = "slotDOMenuClicked()"
                Include ="none"/>

        <MenuGroup
                Path="Config:DO Delegate:Range:Range"
                Normal = "none"
                Changed = "none"
                Hint = "none"
                Extend = "none">
                <MenuNormal
                        Path="Config:DO Delegate:Range:Range:Type"
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotDORangeRangeTypeMenuClicked()"
                        Include ="none"/>
                <MenuNormal
                        Path="Config:DO Delegate:Range:Range:Span Lower"
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotDORangeRangeRangeMenuClicked()"
                        Include ="none"/>
                <MenuNormal
                        Path="Config:DO Delegate:Range:Range:Span Upper"
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotDORangeRangeRangeMenuClicked()"
                        Include ="none"/>
                <MenuNormal
                        Path="Config:DO Delegate:Range:Range:Unit"
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotSoftKeypadClicked()"
                        Include ="none"/>
        </MenuGroup>

        <MenuGroup
                Path="Config:DO Delegate:Range:Action"
                Normal = "none"
                Changed = "none"
                Hint = "none"
                Extend = "none">
                <MenuNormal
                        Path="Config:DO Delegate:Range:Action:Energize/De-engergize"
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotDORangeActionEnergizeMenuClicked()"
                        Include ="none"/>
                <MenuNormal
                        Path="Config:DO Delegate:Range:Action:Action"
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotDORangeActionActionMenuClicked()"
                        Include ="none"/>
                <MenuNormal
                        Path="Config:DO Delegate:Range:Action:Hold"
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotDORangeActionHoldMenuClicked()"
                        Include ="none"/>
                <MenuNormal
                        Path="Config:DO Delegate:Range:Action:Relay Action on ACK"
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotDORangeActionACKMenuClicked()"
                        Include ="none"/>
                <MenuNormal
                        Path="Config:DO Delegate:Range:Action:Relay deactivated interval"
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotDORangeActionIntervalMenuClicked()"
                        Include ="none"/>
        </MenuGroup>

</Config>
