<?xml version="1.0" encoding="UTF-8"?>
<Config
        Path="Config:System Delegate:Internal switch settings">

                <MenuNormal
                    Path="Config:System Delegate:Internal switch settings:First number"
                    Type = "normal"
                    Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                    Changed = ":/setting/Image/setting/change-blue.png"
                    Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                    Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                    Clicked = "slotModbusCommandNumberClicked()"
                    Include ="none"/>
                <MenuNormal
                    Path="Config:System Delegate:Internal switch settings:Last number"
                    Type = "normal"
                    Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                    Changed = ":/setting/Image/setting/change-blue.png"
                    Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                    Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                    Clicked = "slotModbusCommandNumberClicked()"
                    Include ="none"/>
        <MenuGroup
                Path="Config:System Delegate:Internal switch settings:Internal switch"
                Type = "group"
                Normal = "none"
                Changed = "none"
                Hint = "none"
                Extend = "none">
                <MenuNormal
                    Path="Config:System Delegate:Internal switch settings:Internal switch:Type"
                    Type = "normal"
                    Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                    Changed = ":/setting/Image/setting/change-blue.png"
                    Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                    Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                    Clicked = "slotSystemIntervalTypeClicked()"
                    Include ="none"/>
                <MenuNormal
                    Path="Config:System Delegate:Internal switch settings:Internal switch:And/Or"
                    Type = "normal"
                    Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                    Changed = ":/setting/Image/setting/change-blue.png"
                    Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                    Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                    Clicked = "slotSystemIntervalANDORClicked()"
                    Include ="none"/>
        </MenuGroup>

</Config>
