<?xml version="1.0" encoding="UTF-8"?>
<Config Name="Report settings">

    <Config Name="Basic settings"
            File=":/configtree/Image/configTree/Report/Report_Setting/config-Basic.xml">
    </Config>

    <Config Name="Report channel settings"
            File=":/configtree/Image/configTree/Report/Report_Setting/config-Channel.xml">
    </Config>

</Config>
