<?xml version="1.0" encoding="UTF-8"?>
<Config Name="AI channel settings">

    <Config Name="Range">
            <Group Type="AI-Channel"
                          File=":/configtree/Image/configTree/AI_Setting/config-Range.xml"/>
    </Config>

    <Config Name="Alarm">
            <Group Type="AI-Channel"
                          File=":/configtree/Image/configTree/AI_Setting/config-Alarm.xml"/>
    </Config>

    <Config Name="Display settings">
            <Group Type="AI-Channel"
                          File=":/configtree/Image/configTree/AI_Setting/config-Display settings.xml"/>
    </Config>

    <Config Name="Calibration correction">
            <Group Type="AI-Channel"
                          File=":/configtree/Image/configTree/AI_Setting/config-Calibration correction.xml"/>
    </Config>

    <Object Name="First-CH" ID="10002"/>
    <Object Name="Last-CH" ID="10001"/>
</Config>
