<?xml version="1.0" encoding="UTF-8"?>
<Config
        Path="Config:Communication (Serial) Delegate:Modbus master:Command settings">
        <MenuNormal
                Path="Config:Communication (Serial) Delegate:Modbus master:Command settings:Master command number"
                Type = "normal"
                Normal = ":/config/AI_Menu/Channel_Normal/ch_normal.png"
                Changed = ":/setting/Image/setting/change-blue.png"
                Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                Clicked = "slotModbusCommandNumberClicked()"
                Include ="none"/>

        <MenuGroup
                Path="Config:Communication (Serial) Delegate:Modbus master:Command settings:Command settings"
                Type = "group"
                Normal = "none"
                Changed = "none"
                Hint = "none"
                Extend = "none">
                <MenuNormal
                        Path="Config:Communication (Serial) Delegate:Modbus master:Command settings:Command settings:Type"
                        Type = "normal"
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotModbusCommandTypeClicked()"
                        Include ="none"/>
                <MenuNormal
                        Path="Config:Communication (Serial) Delegate:Modbus master:Command settings:Command settings:Slave"
                        Type = "normal"
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotNumericKeypadClicked()"
                        Include ="none"/>
                <MenuNormal
                        Path="Config:Communication (Serial) Delegate:Modbus master:Command settings:Command settings:Data type"
                        Type = "normal"
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotModbusCommandDataTypeClicked()"
                        Include ="none"/>
                <MenuNormal
                        Path="Config:Communication (Serial) Delegate:Modbus master:Command settings:Command settings:Register"
                        Type = "normal"
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotNumericKeypadClicked()"
                        Include ="none"/>
                <MenuNormal
                        Path="Config:Communication (Serial) Delegate:Modbus master:Command settings:Command settings:Channel type"
                        Type = "normal"
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotSerialModbusCommandChanelTypeClicked()"
                        Include ="none"/>
                <MenuNormal
                        Path="Config:Communication (Serial) Delegate:Modbus master:Command settings:Command settings:First-CH"
                        Type = "normal"
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotNumericKeypadClicked()"
                        Include ="none"/>
                <MenuNormal
                        Path="Config:Communication (Serial) Delegate:Modbus master:Command settings:Command settings:Last-CH"
                        Type = "normal"
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotNumericKeypadClicked()"
                        Include ="none"/>
        </MenuGroup>


</Config>
