<?xml version="1.0" encoding="UTF-8"?>
<Config
        Path="Config:System Delegate:Time basic settings">
        <MenuGroup
                Path="Config:System Delegate:Time basic settings:Time Zone"
                Type = "group"
                Normal = "none"
                Changed = "none"
                Hint = "none"
                Extend = "none">
                <MenuNormal
                    Path="Config:System Delegate:Time basic settings:Time Zone:Hour"
                    Type = "normal"
                    Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                    Changed = ":/setting/Image/setting/change-blue.png"
                    Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                    Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                    Clicked = "slotSystemTimeHourClicked()"
                    Include ="none"/>
                <MenuNormal
                    Path="Config:System Delegate:Time basic settings:Time Zone:Minute"
                    Type = "normal"
                    Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                    Changed = ":/setting/Image/setting/change-blue.png"
                    Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                    Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                    Clicked = "slotEMailTimeMinuteCLicked()"
                    Include ="none"/>
        </MenuGroup>

</Config>
