<?xml version="1.0" encoding="UTF-8"?>
<Config
        Path="Config:Recording Delegate:Basic settings">
        <MenuGroup
                Path="Config:Recording Delegate:Basic settings:Recording mode"
                Normal = "none"
                Changed = "none"
                Hint = "none"
                Extend = "none">
                <MenuNormal
                        Path="Config:Recording Delegate:Basic settings:Recording mode:Mode"
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotRecordBasicModeModeMenuClicked()"
                        Include ="none"/>
        </MenuGroup>

        <MenuGroup
                Path="Config:Recording Delegate:Basic settings:Display data, Trend waveform"
                Normal = "none"
                Changed = "none"
                Hint = "none"
                Extend = "none">
                <MenuNormal
                        Path="Config:Recording Delegate:Basic settings:Display data, Trend waveform:Saving interval"
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotRecordBasicDispValueMenuClicked()"
                        Include ="none"/>
        </MenuGroup>

        <MenuGroup
                Path="Config:Recording Delegate:Basic settings:Event data"
                Normal = "none"
                Changed = "none"
                Hint = "none"
                Extend = "none">
                <MenuNormal
                        Path="Config:Recording Delegate:Basic settings:Event data:Recording interval"
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotRecordBasicEventValueMenuClicked()"
                        Include ="none"/>
                <MenuNormal
                        Path="Config:Recording Delegate:Basic settings:Event data:Recording mode"
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotRecordBasicEventModeMenuClicked()"
                        Include ="none"/>
                <MenuNormal
                        Path="Config:Recording Delegate:Basic settings:Event data:Data length"
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotRecordBasicEventLenthMenuClicked()"
                        Include ="none"/>
                <MenuNormal
                        Path="Config:Recording Delegate:Basic settings:Event data:Pre-trigger"
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotRecordBasicEventTriggerMenuClicked()"
                        Include ="none"/>
                <MenuNormal
                        Path="Config:Recording Delegate:Basic settings:Event data:Trigger source operation"
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotSwitchClicked()"
                        Include ="none"/>
        </MenuGroup>

        <MenuGroup
                Path="Config:Recording Delegate:Basic settings:Record confirmation action"
                Normal = "none"
                Changed = "none"
                Hint = "none"
                Extend = "none">
                <MenuNormal
                        Path="Config:Recording Delegate:Basic settings:Record confirmation action:Confirmation screen"
                        Normal = ":/config/AI_Menu/Channel_Item/ch_item.png"
                        Changed = ":/setting/Image/setting/change-blue.png"
                        Hint = ":/config/AI_Menu/Channel_Normal/ch_normal_h.png"
                        Extend = ":/config/AI_Menu/Channel_Normal/ch_normal_e.png"
                        Clicked = "slotSwitchClicked()"
                        Include ="none"/>
        </MenuGroup>

</Config>
