<?xml version="1.0" encoding="UTF-8"?>
<Config
        Path="Config:Recording Delegate">
	<MenuTitle
                Path="Config:Recording Delegate:Basic settings"
                Normal = ":/config/Measure_Menu/Range_Menu/range.png"
                Changed = ":/setting/Image/setting/change.png"
                Hint = ":/config/Measure_Menu/Range_Menu/range_h.png"
                Extend = ":/setting/Image/setting/title.png"
                Clicked = "none"
                Include =":/config/Image/config/Record_Menu/Basic_Menu/config.xml"/>
	<MenuTitle
                Path="Config:Recording Delegate:Recording channel settings"
                Normal = ":/config/Measure_Menu/Alarm_Menu/alarm.png"
                Changed = ":/setting/Image/setting/change.png"
                Hint = ":/config/Measure_Menu/Alarm_Menu/alarm_h.png"
                Extend = ":/setting/Image/setting/title.png"
                Clicked = "none"
                Include =":/config/Image/config/Record_Menu/Channel_Menu/config.xml"/>
</Config>
